.pin-border,
.pin-circle {
  fill: #fff;
  /* stroke: #3b3b3b; */
  stroke: #c1272d;
  
  stroke-miterlimit: 10;
}
.pin-border {
  stroke-width: 3.93px;
}
.pin-circle {
  stroke-width: 3.27px;
}

.pin{
    width: 4vw;
}