.tabs{
    font-family: textFont;
    font-size: 3.5vh;
    width: 22%;
    margin: 0.3vw;
    border-bottom-width: 0.7vh;
    border-bottom-color: black;
    outline: none;
    border-color: #000000bd;
    border-radius: 0.2em;
    padding-top: 0.7vh;
    color: #2c687a;

}

.text-tab{
    display: inline;
    padding-right: 0.5vw;
}